
<body id="myPage" data-spy="scroll" data-offset="60">
<div class="jumbotron text-center">
  <div style="margin-left: 400px">
    <h1 style="color: white">Digital Banking</h1>
    <h1 style="font-size: 25px">By Fatima Zahra HASBI</h1>
  </div>
  <form style="width: 600px; margin-left: 420px; margin-top: 30px">
    <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="Email Address" required>
    </div>
    <div class="input-group-btn" style="width: 200px; margin-left: 200px; margin-top: 50px">
      <button type="button" class="btn btn-outline-danger">Subscribe</button>
    </div>
  </form>
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid align-content-center" style="margin-left: 150px">
  <div class="row">
    <div class="col-sm-8">
      <h2 class="text-info" style="margin-left: 350px">About Company Page</h2><br>
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <br><button class="btn btn-outline-primary btn-lg" style="margin-left: 450px; margin-top: 80px">Get in Touch</button>
    </div>
    <div class="col-sm-4">
      <span class="bi-reception-4 logo"></span>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p class="text-danger">Project done by <a class="text-danger" href="#" title="GLSID">Fatima Zahra HASBI</a></p>
</footer>
</body>
